<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drx.starter.mapper.SysUserMapper">

    <sql id="Base_Column_List">
        id,username,password,nickname,avatar_url,gender,
        state,updated_at,updated_by,created_at,created_by
    </sql>

    <select id="getOneById" resultType="com.drx.starter.entity.SysUser">
        select
            id,username,password,nickname,avatar_url,gender,
            state,updated_at,updated_by,created_at,created_by
        from sys_user
        where state = '1'
          and id = #{id}
    </select>

</mapper>
